.navbar {
    height: 55px;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    position: fixed;
    width: auto;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255);
    padding-top: 85px;
    padding-bottom: 30px;
    width: auto;
}

.jumbotron{
    font-size: 3rem;
    background: rgb(230, 1, 1)!important;
    color: rgb(0, 0, 0);
}

.container{
    padding: 10px;
    width: 100px;
}


.btn-primary-outline {
    background-color: rgba(0, 0, 0, 0.281);
    border-color: transparent;
    box-shadow: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
    font-size: 12px;
  }

  .bg-image-full{
      width: auto;
  }